.back-blue{
    background-color: aqua;
}
.back-green{
    background-color: green;
}

.back-red{
    background-color:red;
}

.a{
    background-color: purple;
}

img {
    width: 33%;
}

.selected {
    border: 3px solid red;
}