ul a {
    
    font-size: 32px;
    text-shadow: 3px 3px 3px rgb(62, 96, 250);
}

a:link {
    color:#ff0000;
}

a:visited {
    color: black;
}

a:hover {
    color: #00ff00;
}

a:active {
    color: #0000ff;
}

tr:nth-child(2n+1) {
    background-color: #7674d6;
}

tr:nth-child(2n+2) {
    background-color: #ffae00ef;
}

#second td:nth-child(2n+1) {
    background-color: #7674d6; 
}

#second td:nth-child(2n+2) {
    background-color: #ffae00ef; 
}
